body {
    background-color: skyblue;
}

#heading {
    font-size: 100;
    color: green;
    font-family: "Helvetica", sans-serif;
}

.blue {
    color: blue;
    border: 1px solid black;
}

button {
    color: white;
    text-transform: uppercase;
    background: black;
    border: none;
    padding: 6px;
    border-radius: 4px;
    letter-spacing: 1px;
}

button:hover {
    background: white;
    border: 1px solid;
    color: black;
    cursor: pointer;
}

#home {
    background: url(waterfall.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 600px;
    color: red;
    text-align: center;
    padding: 100px;
    font-family: "Helvetica";
}